body {
  background: -webkit-linear-gradient(to right, #3e5151, #decba4);
  background: linear-gradient(to bottom, #3e5151, #decba4);
  min-height: 100vh;
}

textarea {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to bottom, #3c3b3f, #605c3c);
  color: white;
  display: block;
  padding: 10px;
}

.heading {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.alert {
  margin-top: 0.5rem;
}

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

.btn {
  display: block;
  margin: 2rem auto 2rem auto;
}